**/__pycache__
/venv
/cache
test*
/modules/silero_tts/voices/
/modules/silero_tts/wav
**default.json
**_short.json
**(копия)*
/modules/YoutubeMdl_userlist.json
**/modarchive_music/*
CORE_autorun_modules.json